// ! FOOTER
@use "../base/funcionalidades" as *;

%footer-link{
    
        color: $texto-blanco;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
        color: $azul-bootstrap;
        }
    
    
}

%footer-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;

}


.contenedor-pie {
display: flex;
  flex-direction: column; // apila elementos verticalmente
  align-items: center;    // centra horizontalmente
text-align: center;
  gap: 10px;              // espacio entre elementos
}

.contenedor-pie p {
  margin: 0;              // elimina márgenes que desalinean
}

ul.footer-menu {
@extend %footer-menu;
padding: 0;
margin: 0;
li a {
    @extend %footer-link;
}
}

.redes a {
@extend %footer-link;
margin: 0 5px;
font-size: 1.2rem;
}

