// ! FOOTER
@use "../base/funcionalidades" as *;

%footer-link{
    
        color: $texto-blanco;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
        color: $azul-bootstrap;
        }
    
    
}

%footer-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;

}


footer {
background-color: $gris-carbon;
color: $texto-blanco;
padding: 20px 0;
font-family: c(pie);

.contenedor-pie {
    display: flex;
    flex-direction: column; // apila verticalmente
    align-items: center;    // centra horizontalmente
    text-align: center;
    gap: 10px;
}

.contenedor-pie p {
    margin: 0;
}

ul.footer-menu {
    @extend %footer-menu;
    display: flex;           // cambia a flex para alinear elementos horizontalmente
    justify-content: center; // centra los <li> dentro del ul
    padding: 0;
    margin: 0;

    li {
      margin: 0 10px;        // espacio entre enlaces
    a {
        @extend %footer-link;
    }
    }
}

.redes {
    display: flex;           // centra los íconos horizontalmente
    justify-content: center;
    gap: 10px;
    a {
    @extend %footer-link;
    font-size: 1.2rem;
    }
}
}

