$fondo-principal: #1e2a38; 
$texto-blanco: #fff;
$azul-claro: #00bfff; 
$cyan-1: #00ffff; 
$rojo-fuego: #ff0040; 
$negro-transparente: #00000080; 
$dorado-oscuro: #bd9b05;
$gris-azulado: #1f2937;
$rojo: #ff0000; 
$dorado: #ffd700; 
$amarillo-claro: #ffea00; 
$fondo-oscuro: #0d1117;
$azul-transparente: #00bfff80; 
$gris-oscuro1: #1c1c1c; 
$azul-profundo: #001f3f; 
$gris-claro: #ccc; 
$gris-muy-claro: #e0e0e0; 
$gris-carbon: #222;
$azul-bootstrap: #0d6efd; 
$negro-opaco: #00000099; 
$azul-suave: #00bfff66; 
$azul-neon: #00bfffcc;
$negro-brillo: #000000b3;
$azul-intenso: #00bfffe6; 
$amarillo-neon: #ffff00; 
$azul-brillante: #00bfff99;
$azul-iframe: #00bfffe6;
$negro-card-e6: #141414e6;
$negro-card-f2: #141414f2;
$rojo-intenso-e6: #ff0000e6;
$azul-shadow-6b: #00bfff6b;
$azul-shadow-4d: #00bfff4d;
$azul-shadow-33: #00bfff33;
$fondo-radial-top: #0a0a0a;
$fondo-radial-bottom: #090909;
$rojo-radial-bg: #ff004026;
$negro-puro: #000;
$rojo-brillante: #ff3333;
$rojo-rosado: #ff3366;
$gris-fondo: #0d0d0d;
$gris-base: #1a1a1a;
$rojo-fuego-99: #ff004099;
$rojo-fuego-33: #ff004033;
$gris-fondo: #f4f4f4;
$blanco-puro: #ffffff;
$rojo-fuego-80: #ff004080;
$carrusel-negro: #00000099;
$item-color:#1f2937;
$aside-shadow:#00000066;


$fuentes:(
    parrafo: 'Nunito',
    titulos: 'Oswald',
    titulo-especial: 'Orbitron',
    pie: 'Arial'
);










